*{
    padding: 0;
    margin: 0;
}
  
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    display: flex;
}
p{
    color: #e7e9ea;
    font-weight: 300;
    font-size: 20px;
}
a:link, a:visited{
    text-decoration: none;
}

/* left bar */
.left-sidebar{
    top: 0;
    left: 0;
    position: fixed;
    padding-top: 10px;
    width: 300px;
    height: 100%;
    border-right: 0.1px solid #e7e9ea56;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.right-sidebar{
    top: 0;
    right: 0;
    position: fixed;
    padding-top: 10px;
    width: 300px;
    height: 100%;
    border-left: 0.1px solid #e7e9ea56;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.links-flex{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 16rem;
    margin: 0.5rem 1rem;
}
.link-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 0 5px;
    transition-duration: 0.4s;
}
.link-flex:hover{
    background-color: #474b53;
    border-radius: 8px;
}
.link-icon{
    width: 16px;
    height: 16px;
}
.link-text{
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}
.myIcon{
    color: #e7e9ea
}
/* middle */
.middle-content, #show{
    margin-left:  340px;
    padding: 10px 0;
    
}
#inp{
    width: 500px;
    padding: 15px;
    font-weight: 400;
    font-size: 25px;
    color: white;

}
#title, #content{
    width: 90%;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: rgb(131, 130, 130);
    box-shadow: 0 5px 5px 0 rgba(248, 246, 246, 0.3);
    margin: 5px auto;

}
#title:focus, #content:focus{
    outline: none;
}
::placeholder{
    color: rgb(49, 49, 49);
}
button{
    background: rgb(70, 69, 69);
    box-shadow: 0 5px 5px 0 rgba(1, 1, 1, 0.3);
    border-radius: 8px;
    border: none;
    padding: 8px;
    font-weight: 400;
    font-size: 18px;
    color: #e7e9ea;
    transition-duration: 0.4s;
    margin-top: 10px;
}
button:hover{
    cursor: pointer;
	background: #e7e9ea;
    color: rgb(70, 69, 69);
    font-weight: 500;
    border: none;
}
button:focus{
    border: none;
}

/* dynamic stuff */
#compo, #show{
    color: #e7e9ea;
    width: 950px;
    padding: 0 20px 20px 0;
}
#compo div, #show div{
    margin: 20px;
}
#compo h3, #show h3{
    margin-bottom: 5px;
    padding-top: 15px;
}

